.profilePic{
    display: flex;
    margin: 10px 10px 0px 0px;
}
.profilePic img{
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
}
.companyName{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.home{
    /* padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px; */
    padding: 10px 50px 50px 50px;
    background-color: darkgray;
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0f1419;
    border-radius: 20px;

}
.info{
    display: block;
    margin-top: 0px;
    line-height: 1px;
}
p{
    margin-top: 10px;
}